.page-header {
    margin-top: 2.5rem;
}

.change-week-btn {
    margin-right: 5px;
    height: 0.8em;
    width: 0.8em;
    font-size: 1.6rem;
    padding: 0;
    line-height: 0.8em;
    float: right;
}

.add-event, .map-btn {
    display: inline-block;
    margin-left: 10px;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1.8rem;
    padding: 0;
    line-height: 1.5rem;
}

.evt-header {
    display: inline;
}

.evt-cal {
    float: right;
}

.field-text {
    display: inline;
    font-size: 14px;
}

.map-btn img {
    height: 1rem;
    margin-bottom: 0.4rem;
}

#day-list {
    height: calc(100vh - 13.375rem);
    overflow: hidden;
    overflow-y: scroll;
}

#today {
    font-weight: 600;
}