h1,h3 {
  margin-top: 20px;
}
  label {
    display: block;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px; 

  }
  
  select,
  input[type="color"] {
    display: flex;
    align-items: center;
    width: 30%;
    margin-top: 10px;
    padding: 8px; 
    font-size: 1.25rem; 
  }
  
  .checkbox {
        display:inline-block;
        margin-top: 5px; 
  }

  body.light-mode {
    background-color: #ffffff;
    color: #333333;
}

body.dark-mode {
    background-color: #333333;
    color: hsl(0, 23%, 94%);
}
.navbar-line {
  height: 40px; 
  width: 1px;
  background-color: white;
  display: inline-block;
  margin: 0 10px; 
}